@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#root {
  font-family: "Rubik", sans-serif;
}

.navigation {
  position: relative;
  z-index: 2;
}
.navigation .navigation__link {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #757575;
  margin: 0 12px;
  position: relative;
  width: fit-content;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 992px) {
  .navigation .navigation__link {
    margin: auto;
  }
}
.navigation .navigation__link:hover {
  color: #333333;
}
.navigation .navigation__badge-red {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -25%);
  background: #e7462d;
  padding: 6px 10px;
  border-radius: 8px;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 8px;
  text-align: center;
  color: #f9fff6;
}
.navigation .navigation__button-link {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
  text-decoration: none;
}
.navigation .navigation__button-primary {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  background-color: #8bac3e;
  border-color: transparent;
  padding: 10px 18px;
  border-radius: 100px;
}

.header {
  position: relative;
  z-index: 0;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin-top: -76px;
}
.header:before {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background-image: url("../img/header-bg.png");
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.05;
  height: 100%;
  width: 100%;
}
.header .header__title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 100%;
  color: #8bac3e;
}
@media screen and (max-width: 576px) {
  .header .header__title {
    font-size: 48px;
  }
}
.header .header__desc {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #757575;
}
.header .header__button-primary {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  background-color: #8bac3e;
  border-color: transparent;
  padding: 10px 18px;
  border-radius: 100px;
  color: #f9fff6;
}
.header .header__button-secondary {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  background-color: #f2f2f2;
  border-color: transparent;
  padding: 10px 18px;
  border-radius: 100px;
  color: #333333;
}
.header .header__image-container {
  width: 500px;
  height: 500px;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(196, 196, 196, 0.1764705882);
  position: relative;
}
@media screen and (max-width: 992px) {
  .header .header__image-container {
    width: 275px;
    height: 275px;
  }
}
.header .header__image-content {
  width: 400px;
  height: 400px;
}
@media screen and (max-width: 992px) {
  .header .header__image-content {
    width: 200px;
    height: 200px;
  }
}
.header .header__image-card {
  background: rgba(255, 255, 255, 0.74);
  box-shadow: 0px 11px 39px rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(5.5px);
  border-radius: 17px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-20%);
  width: 300px;
  padding: 18px 24px;
}
@media screen and (max-width: 992px) {
  .header .header__image-card {
    width: fit-content;
    right: 0;
    transform: translateX(50%);
  }
}
.header .header__card-image {
  width: 50px;
  height: 50px;
  margin-right: 18px;
}
.header .header__card-name {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}
.header .header__card-category {
  display: block;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: #757575;
}

.category .swiper {
  width: 100%;
  height: 220px;
}
.category .swiper-slide {
  width: fit-content;
}
.category .swiper-slide:nth-of-type(1n + 0) .category__card {
  background-color: #f0feeb;
}
.category .swiper-slide:nth-of-type(2n + 0) .category__card {
  background-color: #eaeefa;
}
.category .swiper-slide:nth-of-type(3n + 0) .category__card {
  background-color: #e6f3f5;
}
.category .swiper-slide:nth-of-type(4n + 0) .category__card {
  background-color: #f9eef3;
}
.category .swiper-slide:nth-of-type(5n + 0) .category__card {
  background-color: #f3f7d9;
}
.category .category__title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 125%;
  color: #333333;
}
.category .category__title-green {
  display: block;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 125%;
  color: #8bac3e;
}
.category .category__card {
  border-color: transparent;
  border-radius: 16px;
  padding: 16px 12px;
  overflow: hidden;
  width: 230px;
  height: 170px;
  transition: all 0.3s ease;
  backdrop-filter: blur(5.5px);
}
.category .category__card:hover {
  background-image: url("../img/card-bg.png");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  height: 195px;
}
.category .category__card-icon {
  width: 50px;
}
.category .category__card-name {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #333333;
}
.category .category__card-items {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}
.category .category__control {
  background-color: #8bac3e;
  padding: 6px 12px;
  border-radius: 24px;
  color: white;
  border-color: transparent;
}
.category .category__icon-container {
  width: 33px;
  height: 33px;
  background-color: #f9fff6;
  border-radius: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category .category__icon-img {
  color: #8bac3e;
}

.trending .trending__title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 125%;
  color: #333333;
}
.trending .trending__title-green {
  display: block;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 125%;
  color: #8bac3e;
}
.trending .trending__col:nth-of-type(1n) .trending__card {
  background-color: #e6f3f5;
}
.trending .trending__col:nth-of-type(2n) .trending__card {
  background-color: #eaeefa;
}
.trending .trending__col:nth-of-type(3n) .trending__card {
  background-color: #f3f7d9;
}
.trending .trending__col:nth-of-type(4n) .trending__card {
  background-color: #f9eef3;
}
.trending .trending__col:nth-of-type(5n) .trending__card {
  background-color: #f0feeb;
}
.trending .trending__card {
  border-color: transparent;
  border-radius: 16px;
  padding: 24px 12px;
  overflow: hidden;
  transition: background-color 0.3s ease;
  box-shadow: 0px 11px 39px rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(5.5px);
}
.trending .trending__card:hover {
  background-image: url("../img/card-bg.png");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}
.trending .trending__card-name {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 175%;
  color: #333333;
}
.trending .trending__card-category {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #8bac3e;
}
.trending .trending__button {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  background-color: #8bac3e;
  border-color: transparent;
  padding: 10px 18px;
  border-radius: 100px;
  color: #f9fff6;
}

.footer {
  background-color: #f9fff6;
  padding: 70px 62px;
  border-radius: 20px;
}
.footer .footer__logo {
  width: 200px;
}
.footer .footer__address {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #757575;
}
.footer .footer__icon-container {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 24px;
  transition: all 0.3s;
}
.footer .footer__icon-container:hover {
  background-color: #8bac3e;
}
.footer .footer__icon-container:hover .footer__icon-img {
  color: white;
}
.footer .footer__icon-img {
  color: #8bac3e;
}
.footer .footer__heading {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 125%;
  color: #333333;
}
.footer .footer__menu-list {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #757575;
  margin: 18px 0;
}
.footer .footer__text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #757575;
}
.footer .footer__form-input::placeholder {
  font-size: 14px;
  color: #757575;
}
.footer .footer__form-button {
  background-color: #8bac3e;
  border-color: #8bac3e;
}

.copyright {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: #757575;
}/*# sourceMappingURL=style.css.map */