// Import Rubik font
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$primary-font: "Rubik", sans-serif;

// Color variables
$white-primary: #f9fff6;
$black-primary: #333333;

$light-green-primary: #a4b441;
$light-green-secondary: #f3f7d9;

$dark-green-primary: #8bac3e;
$dark-green-secondary: #f0feeb;

$light-blue-primary: #40a2b1;
$light-blue-secondary: #e6f3f5;

$dark-blue-primary: #405eb6;
$dark-blue-secondary: #eaeefa;

$purple-primary: #b33f74;
$purple-secondary: #f9eef3;
